<div class="column" id="subNavColumn">
	<img class="pageIcon" src="<!-- @path specials.png -->">
	<ul id="subNav">
		<li>
			<a href="<!-- @path projects/osprey -->"><img src="<!-- @path 32px/conning.png -->">Osprey</a>
		</li>
		<li>
			<a href="<!-- @path projects/ladychristina -->"><img src="<!-- @path 32px/yacht.png -->">M/Y Lady Christina</a>
		</li>
		<li>
			<a href="<!-- @path projects/jasali -->"><img src="<!-- @path 32px/leisure.png -->">S/Y’s Jasali &amp; Luna</a>
		</li>
		<li>
			<a href="<!-- @path projects/fugro -->"><img src="<!-- @path 32px/specials.png -->">Fugro</a>
		</li>
	</ul>
</div>