		<!-- @include _header -->
		<!-- $title Projects -->
		<!-- $pageBlurb The versatility of FT NavVision is clearly demonstrated by the wide variety of projects that have been successfully delivered and are still running smoothly to this day. A small selection of Imtech Marine’s success stories. -->
		<!-- $headerImage headerPhoto_projects.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _projects_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">S/Y Jasali II &amp; S/Y Luna</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink" href="http://www.perininavi.it/en" target="_blank">Perini Navi website</a></li>
							<br>
							<li><a class="downloadLink" href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink" href="<!-- @path FT_AMCS_Brochure.pdf -->">FT NavVision AMCS brochure</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							The S/Y Jasali II and S/Y Luna are two spectacular sailing yachts from <a href="http://www.perininavi.it/en" target="_blank">Perini Navi’s</a> 53 Meter Series. Featuring a steel hull and an aluminium superstructure, the 53m yachts achieve a top speed of 15.8 knots. <br>
							These yachts are highly automated with an requirement to be able to be operated with Unmanned Machinery Spaces. The FT NavVision <a href="<!-- @path products/amcs -->">Alarm Monitoring and Control System</a> allows the crew to operate all installations on board of these sailing ships care-free. A remotely operated fuel system allows the captain to transfer fuel from a workstation on the bridge. This allows the crew to do what these boats are made for: sailing.
						</p>
						<div class="figure" title="S/Y Jasali in full motion"><img class="contentImage" src="<!-- @path jasali.jpg -->"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->