
		<!-- @include _header -->
		<!-- $title Projects -->
		<!-- $pageBlurb The versatility of FT NavVision is clearly demonstrated by the wide variety of projects that have been successfully delivered and are still running smoothly to this day. A small selection of Imtech Marine’s success stories. -->
		<!-- $headerImage headerPhoto_home.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _projects_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">M/Y Lady Christina</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink" href="http://oceanco.com" target="_blank">Oceanco website</a></li>
							<br>
							<li><a class="downloadLink" href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							The Lady Christina is a 62m luxury motoryacht built by <a href="http://oceanco.com" target="_blank">Oceanco.</a> She offers vast deck space as well as a lavish interior. All of her accommodation has en suite facilities and is opulently decorated in silk and marble, but the real gem is the spacious and elegant master suite. Situated forward, the master suite is host to a private saloon and offers stunning views through arched windows. Lady Christina is built to the highest requirements of Lloyds Register and MCA, the same standards that the FT NavVision <a href="<!-- @path products/amcs -->">Alarm Monitoring and Control System</a> installed on board complies to.
						</p>
						<div class="figure" title="M/Y Lady Christina"><img class="contentImage" src="<!-- @path ladychristina.jpg -->"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->
