		<!-- @include _header -->
		<!-- $title Projects -->
		<!-- $pageBlurb The versatility of FT NavVision is clearly demonstrated by the wide variety of projects that have been successfully delivered and are still running smoothly to this day. A small selection of Imtech Marine’s success stories. -->
		<!-- $headerImage headerPhoto_conning.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _projects_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Wajer Osprey 37'</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink" href="http://wajer.com" target="_blank">Wajer website</a></li>
							<br>
							<li><a class="downloadLink" href="<!-- @path DP_leaflet_yachts.pdf -->">DP leaflet</a></li>
							<li><a class="downloadLink" href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink" href="<!-- @path FT_LeisureLine_small.pdf -->">Leisure Line brochure</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
						The <a href="http://wajer.com" target="_blank">Wajer</a> Osprey 37’ is a yacht that’s unique in every way. She is built with the perfect blend of excitement, luxury and space. The collaboration with Vripack International Naval Architects and Volvo Penta Sweden led to an exceptionally comfortable sailing experience and her unanimously voted title Dutch ‘Motorboat of the Year’. Due to the underwater exhaust system and high-end electronics, the Wajer Osprey 37’ is the most silent yacht of its kind. Standard electronic steering guarantees accurate and precise sailing and the feeling of total control at all times.
						</p>
						<div class="figure" title="Wajer Osprey 37'"><img class="contentImage" src="<!-- @path wajer38.png -->"></div>
						<p>
						The central steering position is dominated by the FT NavVision <a href="<!-- @path products/leisureline -->">monitoring system</a> (as seen on the photo on top of this page) providing full navigational functionality including an electronic chart system, digital radar, navigation sensors and full access to vital technical information of both propulsion engines. Optimised for user friendliness while cruising at a speed of 44 knots, already delivered on more than 30 boats.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->