/*
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/typography/links/link-colors";
@import "compass/utilities";
@import "compass/css3/font-face";
*/
//Fonts
/*
@font-face {
    font-family: 'FrutigerLight';
    src: url('../fonts/ftl.eot');
    src: url('../fonts/ftl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftl.woff') format('woff'),
         url('../fonts/ftl.ttf') format('truetype'),
         url('../fonts/ftl.svg#ftl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerRoman';
    src: url('../fonts/ftr.eot');
    src: url('../fonts/ftr.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftr.woff') format('woff'),
         url('../fonts/ftr.ttf') format('truetype'),
         url('../fonts/ftr.svg#ftr') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrutigerBold';
    src: url('../fonts/ftb.eot');
    src: url('../fonts/ftb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftb.woff') format('woff'),
         url('../fonts/ftb.ttf') format('truetype'),
         url('../fonts/ftb.svg#ftb') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/


@font-face {
    font-family: 'FrutigerRoman';
    src: url('../fonts/CartoGothicStd-Book-webfont.eot');
    src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FrutigerBold';
    src: url('../fonts/CartoGothicStd-Bold-webfont.eot');
    src: url('../fonts/CartoGothicStd-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CartoGothicStd-Bold-webfont.woff') format('woff'),
         url('../fonts/CartoGothicStd-Bold-webfont.ttf') format('truetype'),
         url('../fonts/CartoGothicStd-Bold-webfont.svg#CartoGothicStdBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

//Colors
$imtechBlue: rgba(0,81,158,1);
$imtechGrey: rgba(171,173,176,1);

//Dimensions
$pageWidth: 960px;
$columnWidth: 160px;
$gutterWidth: 27px;

@mixin horizontalCenter{
	width: $pageWidth;
	position: relative;
	left: 50%;
	margin-left: -($pageWidth/2);
}