@charset "utf-8";
@import "globalvars";

#subNavColumn{

	#subNav{
		margin-top: $gutterWidth;

		li{
			font-family: FrutigerRoman, Arial;
			font-size: 14px;
			//letter-spacing: -1px;
			width: $columnWidth - 30;
			padding-left: 30px;
			height: 40px;

			a{
				-webkit-font-smoothing: antialiased;
				-webkit-transform: translate3d(0,0,0);
				color: $imtechGrey;
				//@include link-colors($imtechGrey,$imtechBlue,$imtechBlue,$imtechGrey,$imtechBlue);
				//@include transition-property("color");
				//@include transition-duration(500ms);
				text-decoration: none;

				&:hover, &:active, &:focus{
					color: $imtechBlue;
					@include transition (color 500ms);
				}

				img{
					float: left;
					width: 32px;
					height: 32px;
					margin-top: -10px;
					margin-right: 8px;
				}
			}

			.current{
				color: $imtechBlue !important;
			}
		}
	}
}

#contentColumn{
	margin-top: $gutterWidth;
	margin-left: $columnWidth + (2* $gutterWidth);
	width: (4* $columnWidth) + (3* $gutterWidth);

	#subPageTitle{
		color: $imtechBlue;
		font-family: FrutigerBold, Arial;
		font-size: 40px;
		letter-spacing: -3px;
		border-bottom: 2px solid $imtechBlue;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	#sideBar{
		margin-top: 4px;
		width: $columnWidth - 15;
		float: right;

		&:before{
			content: "More info";
			display: block;
			color: $imtechBlue;
			font-family: FrutigerBold, Arial;
			border-bottom: 2px solid $imtechBlue;
			padding-bottom: 10px;
			margin-bottom: 10px;
			margin-left: 15px;
			width: $columnWidth - 30;
		}

		ul{
			font-family: FrutigerRoman, Arial;
			color: $imtechGrey;
			list-style-type: none;
			font-size: 13px;
			margin-left: 10px;
			width: 100%;

			li {
				margin-bottom: 5px;
				margin-left: 20px;

			}

			a.downloadLink{
				-webkit-font-smoothing: antialiased;
				-webkit-transform: translate3d(0,0,0);
				color: $imtechGrey;
				//@include link-colors($imtechGrey,$imtechBlue,$imtechGrey,$imtechGrey,$imtechGrey);
				@include transition-property("color");
				@include transition-duration(500ms);
				text-decoration: none;
				line-height: 16px;

				&:hover, &:active, &:focus{
					@include transition-property("color");
					@include transition-duration(500ms);
				}

				&:before{
					position: absolute;
					//content: "\25FC";
					content: "";
					display: inline-block;
					width: 7px;
					height: 7px;
					background-color: $imtechGrey;
					margin-top: 3px;
					margin-left: -15px;
				}
			}
		}
	}

	#pageContent{
		width: (3* $columnWidth) + (2* $gutterWidth);
		color: darken($imtechGrey, 15%);
		font-family: Arial;
		font-size: 13px;
		text-align: justify;
		text-rendering: optimizeLegibility;
		line-height: 23px;

		h3{
			color: $imtechBlue;
			font-family: FrutigerRoman, Arial;
			font-size: 20px;
			border-bottom: 2px solid $imtechBlue;
			padding-bottom: 5px;
			margin-bottom: 5px;
			margin-top: 15px;
			width: auto;
		}

		a{
			text-decoration: none;
			padding: 2px 6px 2px 6px;
			border-radius: 3px;
			background-color: $imtechGrey;
			color: #fff;
			//@include link-colors(#fff,#fff,#fff,#fff,#fff);
			@include transition-property("background");
			@include transition-duration(500ms);

			&:hover, &:active, &:focus{
				color: #fff;
				@include transition-property("background");
				@include transition-duration(500ms);
				background-color: $imtechBlue;
				text-shadow: 0 1px 1px rgba(0,0,0,0.3);
			}
		}

		div.figure{
			width: (3* $columnWidth) + (2* $gutterWidth);
			float: left;
			margin: $gutterWidth $gutterWidth ($gutterWidth +32px) 0;
			box-shadow: 0 1px 0 #fff, 0 $gutterWidth 0 $imtechGrey;
			text-decoration: none;

			//&:active{
			//	width: (3* $columnWidth) + (2* $gutterWidth);
			//	@include transition-property("width");
			//	@include transition-duration(500ms);
			//}

			img.contentImage{
				width: 100%;
				margin-bottom: -7px;
				border-radius: 3px 3px 0 0;
			}

			ul{
				margin-bottom: -7px;
				padding-bottom: 17px;
				//background-color: #fff;

				li{
					color: $imtechBlue;
					white-space: nowrap;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;

					&:before{
					position: relative;
					//content: "\25FC";
					content: "";
					display: inline-block;
					width: 7px;
					height: 7px;
					background-color: $imtechBlue;
					margin-top: 5px;
					margin-right: 10px;
					}
				}
			}

			&:after{
				 content: attr(title);
				 display: block;
				 position: absolute;
				 font-family: FrutigerRoman, Arial;
				 font-size: 14px;
				 color: #fff;
				 padding-left: 8px;
				 margin-top: 2px;
			}
		}

		em{
			color: $imtechBlue;
			font-family: FrutigerBold;
			font-size:15px;
		}
	}
}