@charset "utf-8";
@import "globalvars";

html, body{
	background-color: $imtechGrey;
	height: 100%;
	min-width: $pageWidth;

	#wrapper{
		//padding-bottom: 160px;

		#logobar{
			height: 99px;
			width: 100%;
			background-color: $imtechBlue;
			border-bottom: 1px solid #fff;

			#logoContainer{
				@include horizontalCenter;

				#ft_logo{
					position: absolute;
					margin-top: 10px;
					margin-left: $gutterWidth;
				}
			}
		}

		#menubar{
			position: relative;
			top: 1px;
			height: 59px;
			width: 100%;
			background-color: $imtechGrey;
			border-bottom: 1px solid #fff;

			nav{
				@include horizontalCenter;
				padding-top: 10px;

				a{
					font-family: FrutigerRoman, Arial;
					width: $columnWidth;
					display: block;
					margin-left: $gutterWidth;
					padding-top: 10px;
					padding-bottom: 10px;
					float: left;
					color: #fff;
					font-size: 18px;
					text-decoration: none;
					-webkit-font-smoothing: antialiased;
					-webkit-transform: translate3d(0,0,0);
					color: #fff;
					//@include link-colors(#fff,$imtechBlue,#fff,#fff,#fff);
					@include transition-property("color");
					@include transition-duration(500ms);

					&:hover, &:active, &:focus{
						color: $imtechBlue;
						@include transition-property("color");
						@include transition-duration(200ms);
					}

					&:before{
						//content: "\25FC";
						content: "";
						display: inline-block;
						width: 10px;
						height: 10px;
						background-color: #fff;
						position: relative;
						top: 0px;
						margin-right: 10px;
						}
				}
			}
		}

		#header{
			position: relative;
			top: 1px;
			height: 369px;
			width: 100%;
			background-size: cover;
			background-position: top center;

			#navvision_logo{
				@include horizontalCenter;
				width: $columnWidth;
				padding-left: $gutterWidth;
				margin-top: $gutterWidth * 1.6;
			}

			#pageHeader{
				@include horizontalCenter;
				margin-top: $gutterWidth;
				color: #fff;
				font-family: FrutigerBold, Arial;
				font-size: 45px;
				letter-spacing: -3px;
				padding-left: $gutterWidth;
			}

			#pageBlurb{
				@include horizontalCenter;
				margin-top: 2* $gutterWidth;
				color: #fff;
				font-family: Arial;
				font-size: 15px;
				margin-top: 10px;
				width: (3* $columnWidth) + (2* $gutterWidth);
				padding-left: $gutterWidth;
				line-height: 25px;
				text-align: justify;
				&:before{
					content: "";
					display: block;
					background-color: #fff;
					height: 2px;
					width: (3* $columnWidth) + ($gutterWidth);
					padding-left: $gutterWidth;
					margin-bottom: 10px;
				}
			}
		}

		#contentContainer{
			position: relative;
			background-color: #fff;
			&:before{
					content:"";
    				display:table;
				}
				&:after{
					content:"";
    				display:table;
    				clear: both;
				}

			#fullWidthPromo{
				width: 100%;
				height: 360px;
				background-color: $imtechBlue;
				background-image: url("../img/map.png");
				border-top: 1px solid #fff;
				border-bottom: 1px solid $imtechBlue;
				background-size: cover;
				background-position: center center;
				//box-shadow: 0 10px 10px rgba($imtechBlue, 0.5) inset, 0 -10px 10px rgba($imtechBlue, 0.2) inset;

				h1{
					@include horizontalCenter;
					width: auto;
					position: absolute;
					margin-top: 70px;
					padding-left: 170px;
					color: #2a394a;
					font-family: FrutigerBold, Arial;
					font-size: 45px;
					letter-spacing: -3px;
					span{
						font-size: 30px;
						font-family: "FrutigerRoman", Arial;
						letter-spacing: -2px;
					}
				}
				img{
					@include horizontalCenter;
					width: 130px;
					padding: $gutterWidth;
					position: absolute;
				}
				div{
					@include horizontalCenter;
					//position: fixed;
					margin-top: 180px;
					color: #2a394a;
					font-family: Arial;
					font-size: 15px;
					width: 600px;
					padding-left: $gutterWidth;
					line-height: 25px;
					text-align: justify;
					text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
					a{
						text-decoration: none;
						color: $imtechBlue;
						font-family: "FrutigerBold";
						@include transition-property("color");
						@include transition-duration(500ms);

						&:hover, &:active, &:focus{
							color: $imtechGrey;
							@include transition-property("color");
							@include transition-duration(200ms);

						}
					}
					strong{
						font-family: "FrutigerBold";
					}
				}
			}

			#content{
				@include horizontalCenter;
				padding-bottom: 100px;
				padding-top: $gutterWidth;
				//zoom: 1;
				background-color: #fff;

				&:before{
					content:"";
    				display:table;
				}
				&:after{
					content:"";
    				display:table;
    				clear: both;
				}

				.column{
					float: left;
					width: $columnWidth;
					margin-left: $gutterWidth;

					&:first-child{
						margin-left: $gutterWidth -1;
					}

					a{
						text-decoration: none;
					}

					.pageIcon{
						background-color: $imtechBlue;
						width: auto;
						height: 64px;

						margin-left: 30px;
						margin-top: 30px;
						padding: 19px;
						border-radius: 3px;
						@include transition-property("background-color");
						@include transition-duration(500ms);

						&:hover{
							@include transition-property("background-color");
							@include transition-duration(200ms);
							background-color: $imtechGrey;
						}
					}

					.pageName{
						color: $imtechBlue;
						font-family: FrutigerBold, Arial;
						font-size: 24px;
						margin-top: 19px;
						letter-spacing: -1px;
						text-align: center;
					}

					.pageBlurb{
						margin-top: 10px;
						padding-top: 19px;
						margin-bottom: 30px;
						color: darken($imtechGrey, 15%);
						font-family: Arial;
						font-size: 14px;
						letter-spacing: -0.05em;
						text-align: left;
						text-rendering: optimizeLegibility;
						line-height: 25px;
						border-top: 2px solid $imtechBlue;

						a{
							position: absolute;
							top: 600px;
							text-decoration: none;
							padding: 2px 6px 2px 6px;
							border-radius: 3px;
							background-color: $imtechGrey;
							color: #fff;
							-webkit-backface-visibility: hidden;
							@include transition-property("background");
							@include transition-duration(500ms);

							&:hover, &:active, &:focus{
								color: #fff;
								@include transition-property("background");
								@include transition-duration(200ms);
								background-color: $imtechBlue;
								text-shadow: 0 1px 1px rgba(0,0,0,0.3);
							}
						}
					}
				}
			}
		}

		#footer{
			@include horizontalCenter;
			height: 160px;

			#ft_colofon{
				float: left;
				width: $columnWidth;
				margin-left: $gutterWidth;
				color: #fff;
				font-family: FrutigerRoman, Arial;
				font-size: 12px;
				line-height: 18px;
				padding-top: 35px;
				a{
					@include transition-property("color");
					@include transition-duration(200ms);
					text-decoration: none;
					color: #fff;
					//@include link-colors(#fff,$imtechBlue,#fff,#fff,#fff);
					&:hover{
						color: $imtechBlue;
						@include transition-property("color");
						@include transition-duration(200ms);
					}
				}
			}

			#imo_disclaimer{
				float: right;
				width: $columnWidth;
				margin-right: $gutterWidth;
				color: #fff;
				font-family: FrutigerRoman, Arial;
				font-size: 12px;
				line-height: 18px;
				padding-top: 35px;
			}
		}
	}
}