		<div id="footer">
			<div id="ft_colofon">
				Sluisjesdijk 155<br>
				P.O. Box 5054<br>
				3008 AB, Rotterdam<br>
				The Netherlands<br>
				<a href="mailto:comms@imtechmarine.com">comms@imtechmarine.com</a><br>
				+31 10 487 1911
			</div>
			<div id="imo_disclaimer">
				<a href="http://imtech.com/marine" target="_blank"><img src="<!-- @path imtech_logo.png -->" alt="Imtech"></a>
				Copyright © 2013 <br>
				Imtech Marine<br>
			</div>
		</div>
	</div>
</body>
</html>