<!-- @include _header -->
<!-- $title FT NavVision -->
<!-- $pageBlurb An all-encompassing solution for monitoring &amp; control of all data &amp; equipment relevant to the operation of our vessel.<br>Designed with the human operator in mind, whatever the platform. -->
<!-- $headerImage headerPhoto_home.jpg -->
		<div id="contentContainer">
			<div id="fullWidthPromo">
				<h1>ShipScout<br><span>Next-Gen Remote Monitoring</span></h1>
				<img src="<!-- @path remote_monitoring_appicon.png  -->">
				<div>
					Tracking vessels has never been easier nor has it been more accessible.<br> <strong>Imtech ShipScout</strong> is our brand new web app that allows the shore office to remotely monitor your fleet and review its course &amp; actions, right from your desktop, tablet or smartphone.<br>
					<a href="<!-- @path products/remotemonitoring.html -->">Learn more…</a> 
				</div>
			</div>
			<div id="content">
				<div class="column" id="column_1">
					<a href="<!-- @path products/leisureline -->">
						<img class="pageIcon" src="<!-- @path leisure -->">
						<h2 class="pageName">Leisure Line</h2>
					</a>
					<p class="pageBlurb">
						If your needs aren’t all that extensive and all you need is a simple &amp; reliable solution to display the most relevant data, FT NavVision offers the Leisure Line: <br>
						an all-in-one workstation, equipped with the basic FT NavVision installation. It may be basic, but it’s more powerful than it appears.
						<br><a href="<!-- @path products/leisureline -->">Learn more…</a>
					</p>
				</div>
				<div class="column" id="column_2">
					<a href="<!-- @path products/amcs -->">
						<img class="pageIcon" src="<!-- @path amcs -->">
						<h2 class="pageName">AMCS</h2>
					</a>
					<p class="pageBlurb">
						Whether your vessel’s alarm monitoring is to be built to type approval or as a one-off unique project, the FT NavVision Alarm Monitoring &amp; Control System (AMCS) ensures smooth and safe operation.<br>
						Our AMCS solution forms the core of the type-approved Imtech AMCS, but functions just as well on its own.
						<br><a href="<!-- @path products/amcs -->">Learn more…</a>
					</p>
				</div>
				<div class="column" id="column_3">
					<a href="<!-- @path products/conning -->">
						<img class="pageIcon" src="<!-- @path conning -->">
						<h2 class="pageName">Conning</h2>
					</a>
					<p class="pageBlurb">
						Steering &amp; positioning a vessel isn’t easy, but with our Conning solution it isn’t hard either. The FT NavVision Conning solution presents all relevant navigation data —like depth, wind speed and heading— not just as simple digits, but also translates them to intuitive data visualisations.
						<br><a href="<!-- @path products/conning">Learn more…</a>
					</p>
				</div>
				<div class="column" id="column_4">
					<a href="<!-- @path products/halo -->">
						<img class="pageIcon" src="<!-- @path halo -->">
						<h2 class="pageName">HALO</h2>
					</a>
					<p class="pageBlurb">
						The Helicopter Approach &amp; Landing Operations system is designed to improve flight and passenger safety by providing real-time monitoring of helideck motion and weather conditions. Using this data —presented in a CAP-437 compliant design— the pilot is able to safely land on moving vessels.
						<br><a href="<!-- @path products/halo -->">Learn more…</a>
					</p>
				</div>
				<div class="column" id="column_5">
					<a href="<!-- @path products/inland -->">
						<img class="pageIcon" src="<!-- @path inland -->">
						<h2 class="pageName">Inland</h2>
					</a>
					<p class="pageBlurb">
						The biggest ships passing through the smallest rivers: this requires a highly accurate and specialized system. The FT NavVision Inland system delivers just that. Whether you’re carrying containers or mounds of sand, all FT NavVision cares about is the safety of you, your crew, your cargo and your ship.
						<br><a href="<!-- @path products/inland  -->">Learn more…</a>
					</p>
				</div>
			</div>
		</div>
<!-- @include _footer -->