<div class="column" id="subNavColumn">
	<img class="pageIcon" src="<!-- @path inland.png -->">
	<ul id="subNav">
		<li>
			<a href="<!-- @path markets/leisure -->"><img src="<!-- @path 32px/leisure.png -->">Leisure</a>
		</li>
		<li>
			<a href="<!-- @path markets/inland -->"><img src="<!-- @path 32px/inland.png -->">Inland</a>
		</li>
		<li>
			<a href="<!-- @path markets/yachts -->"><img src="<!-- @path 32px/yacht.png -->">Yachts</a>
		</li>
		<li>
			<a href="<!-- @path markets/offshore -->"><img src="<!-- @path 32px/offshore.png -->">Offshore</a>
		</li>
		<li>
			<a href="<!-- @path markets/specialvessels -->"><img src="<!-- @path 32px/specials.png -->">Special Vessels</a>
		</li>
	</ul>
</div>