		<!-- @include _header -->
		<!-- $title Markets -->
		<!-- $pageBlurb Imtech Marine is present in many markets, all of which have recognized the value FT NavVision brings to their operation. The wildly varying markets show just how versatile FT NavVision is. -->
		<!-- $headerImage headerPhoto_markets.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _markets_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Inland</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink "href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision Brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path ImtechAMCS_brochure.pdf -->">Imtech AMCS brochure</a></li>
							<br>
							<li><a class="downloadLink "href="<!-- @path products/inland -->">Product: Inland</a></li>
							<li><a class="downloadLink "href="<!-- @path products/amcs -->">Product: AMCS</a></li>
							<li><a class="downloadLink "href="<!-- @path products/conning -->">Product: Conning</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							In Europe, the inland shipping market is a continuously changing and developing market. Driven by requirements such as getting cargo off the European roads, green shipping and reduction of total cost of ownership are increasingly important goals. The FT NavVision system allows for all the technical challenges resulting from these requirements, from integration of navigation functions and interfacing with revolutionary Power Management Systems to the ability of Remote Maintenance and Remote Monitoring capabilities for the office on shore.
						</p>
						<div class="figure" title="Inland vessel"><img class="contentImage" src="<!-- @path inland.jpg -->"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->
