
		<!-- @include _header -->
		<!-- $title Markets -->
		<!-- $pageBlurb Imtech Marine is present in many markets, all of which have recognized the value FT NavVision brings to their operation. The wildly varying markets show just how versatile FT NavVision is. -->
		<!-- $headerImage headerPhoto_projects.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _markets_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Leisure</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink "href="<!-- @path FT_LeisureLine_small.pdf -->">Leisure Line brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path DP_leaflet_yachts.pdf -->">DP leaflet</a></li>
							<br>
							<li><a class="downloadLink "href="<!-- @path products/leisureline -->">Product: Leisure Line</a></li>
							<!--<li><a class="downloadLink "href="../downloads/FT_generic_brochure.pdf">FT NavVision Brochure</a></li>-->
						</ul>
					</div>
					<div id="pageContent">
						<p>
							FT NavVision is applied in the Leisure market from very small boats up to the bigger cruisers and sailing boats. The integrated nature of both Navigational and Monitoring &amp; Alarm functionalities makes FT NavVision extremely suitable for the Leisure market.
						</p>
						<div class="figure" title="Wajer Osprey 37'"><img class="contentImage" src="<!-- @path osprey.jpg -->"></div>
						<p>
							The physical integration of several displays, controls and keyboards into one multifunctional navigation and monitoring suite results in a more efficient and cleaner cockpit design. The dedicated FT NavVision Leisure Line is a must for every leisure boater.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->

