		<!-- @include _header -->
		<!-- $title Markets -->
		<!-- $pageBlurb Imtech Marine is present in many markets, all of which have recognized the value FT NavVision brings to their operation. The wildly varying markets show just how versatile FT NavVision is. -->
		<!-- $headerImage headerPhoto_offshore.jpg -->
		<div id="contentContainer">
			<div id="content">
			<!-- @include _markets_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Offshore</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink "href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path ImtechAMCS_brochure.pdf -->">Imtech AMCS brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path HALO_Leaflet.pdf -->">HALO leaflet</a></li>
							<br>
							<li><a class="downloadLink "href="<!-- @path products/amcs -->">Product: AMCS</a></li>
							<li><a class="downloadLink "href="<!-- @path products/halo -->">Product: HALO</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							In the offshore  market, major offshore operators rely on FT NavVision for real-time monitoring of the meteorological circumstances and related motions on platforms and drilling rigs. This information leads to preventive actions such as shutting down drilling or production operations, securing the platform or rig, piloting a DP vessel to a safer location or maybe even evacuation of the platform or rig. A responsible task that is performed on board of almost hundred platforms and drilling rigs.
						</p>
						<div class="figure" title="Offshore oil rig"><img class="contentImage" src="<!-- @path oilrig.jpg -->"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->