		<!-- @include _header -->
		<!-- $title Markets -->
		<!-- $pageBlurb Imtech Marine is present in many markets, all of which have recognized the value FT NavVision brings to their operation. The wildly varying markets show just how versatile FT NavVision is. -->
		<!-- $headerImage headerPhoto_specials.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _markets_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Special Vessels</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink "href="<!-- @path DP_leaflet_workboats.pdf -->">DP leaflet</a></li>
							<li><a class="downloadLink "href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path ImtechAMCS_brochure.pdf -->">Imtech AMCS brochure</a></li>
							<br>
							<li><a class="downloadLink "href="<!-- @path products/amcs -->">Product: AMCS</a></li>
							<li><a class="downloadLink "href="<!-- @path products/conning -->">Product: Conning</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							An ever increasing number of special vessels are built outside of Europe. These vessels range from research vessels, tugs, workboats, wind turbine installation &amp; maintenance vessels up to oceanographic, hydrographical, geophysical and other research vessels. All these ships are characterized by extensive electrical installations and instrumentation.
						</p>
						<div class="figure" title="Tugboat"><img class="contentImage" src="<!-- @path tugboat.jpg -->"></div>
						<p>
							FT NavVision is the perfect AMCS system for optimal operation of these types of special vessels. With the worldwide service network of Imtech Marine, all special vessels can be followed and provided with on-site maintenance support.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->
