<!-- @include _header -->
<!-- $title Markets -->
<!-- $pageBlurb Imtech Marine is present in many markets, all of which have recognized the value FT NavVision brings to their operation. The wildly varying markets show just how versatile FT NavVision is. -->
<!-- $headerImage headerPhoto_home.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _markets_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Yachts</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink "href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path AMCS_brochure_yachts.pdf -->">Imtech AMCS brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path DP_leaflet_yachts.pdf -->">DP leaflet</a></li>
							<br>
							<li><a class="downloadLink "href="<!-- @path products/conning -->">Product: Conning</a></li>
							<li><a class="downloadLink "href="<!-- @path products/amcs -->">Product: AMCS</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							Next to the demand of ultimate luxury for the guests on board of yachts, reliability of the complete technical installation on board the yacht is even more important. The FT NavVision Alarm, Control and Monitoring system keeps a close eye on the status of all vital installations on board.
						</p>
						<div class="figure" title="M/Y Ludy"><img class="contentImage" src="<!-- @path yacht.jpg -->"></div>
						<p>
							Any occurrence of alarm situations will be notified immediately to the crew, enabling them to solve any technical problem without compromising the comfort of the guests onboard. In this way FT NavVision is facilitating the pleasurable yachting experience of the guests on board of many luxury yachts around the world.
						</p>
					</div>
				</div>
			</div>
		</div>
<!-- @include _footer -->