<div class="column" id="subNavColumn">
	<img class="pageIcon" src="<!-- @path contact.png -->">
	<ul id="subNav">
		<li>
			<a href="<!-- @path about/profile -->"><img src="<!-- @path 32px/profile.png -->">Profile</a>
		</li>
		<li>
			<a href="<!-- @path about/contact -->"><img src="<!-- @path 32px/contact.png -->">Contact</a>
		</li>
		<li>
			<a href="<!-- @path about/network -->"><img src="<!-- @path 32px/network.png -->">Network</a>
		</li>
	</ul>
</div>