<!-- @include _header -->
<!-- $title Company -->
<!-- $pageBlurb Though our office is located in the Netherlands, our reach is global. Our multiple partners all over the world guarantee that no matter where you are, professional service is always near. -->
<!-- $headerImage headerPhoto_company.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _company_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Legal</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink" href="<!-- @path Fenit_Conditions.pdf -->">Fenit Conditions</a></li>
							<li><a class="downloadLink" href="<!-- @path Hiswa_Conditions.pdf -->">Hiswa Conditions</a></li>
						</ul>
					</div>
					<div id="pageContent">
						Imtech Marine B.V., like any other company, has to abide to rules and regulations set by ethics, but also rules set by the government.
						Going even further, Imtech Marine B.V. is a member of the <a href="http://www.hiswa.nl/" target="\_blank">HISWA organization (site in Dutch only)</a>. Part of this organization is an arbitration board, which gives binding advice in case of disputes. The HISWA has written, for motivational reasons, a set of Terms of Delivery. Imtech Marine B.V. is committed to keeping herself committed to this set of rules.
						However, also the use of our website is also bound to certain rules. We assume that anyone engaging in a business-relationship with Imtech Marine B.V. or using our website, has notified him- or herself of the rules.
						The use of this website constitutes your acceptance of these terms and conditions and your waiver of any and all claims against Imtech Marine B.V., subsidiaries, affiliated companies, directors and employees arising out of your use of this website or any materials, information, opinions, recommendations or other data contained in this website.

						<h3>Limitation of Liability</h3>
						In no event will Imtech Marine B.V. or other third parties mentioned at this site be liable for any damages whatsoever (including without limitation, those resulting from lost profits, lost data or business interruption) arising out of the use, inability to use, or the results of use of this site, any websites linked to this site, or the materials of information or services contained at any or all such sites, whether based on warranty, contract, tort of any other legal theory and whatever or not advised of the possibility of such damages.

						<h3>No warranty</h3>
						The information provided in this website is for informational purposes only. While reasonable care has been taken to ensure that the information contained in this website is correct at the time it was made available and Imtech Marine B.V. will attempt to keep the information current, Imtech Marine B.V. makes no warranty or representation as to the accuracy or completeness of any information in this website.

						<h3>Trademarks &amp; Copyrights</h3>
						The materials displayed on this website, including without limitation all editorial materials, informational text, photographs, illustrations, artwork and other graphic materials, and names, logos, trademarks and service marks, are the property of Imtech Marine B.V. or licensees and are protected by copyright, trademark and other intellectual property laws. Any such content may be displayed and printed solely for your personal, non-commercial use. You agree not to reproduce, retransmit, distribute, disseminate, sell, publish, broadcast or circulate any such material to any third party without the express prior written consent of Imtech Marine B.V.

						<h3>Applicable Law</h3>
						The terms and conditions shall be governed and construed in accordance with the laws of the Netherlands. Any questions or comments can be sent to info@freetechnics.eu
						By being a member of the HISWA organization, Imtech Marine B.V. has committed herself to the conditions set by the HISWA. These conditions consist of two parts, being:<br><br>

							<a href="<!-- @path Hiswa_Conditions.pdf -->">The HISWA General conditions</a>  for all deliveries to private clients;
							<br>
							<a href="<!-- @path Fenit_Conditions.pdf -->">The FENIT General Terms and Conditions Information Technology</a> for all Business to Business deliveries.
						<br><br>
						Should you have any questions concerning these Terms of Delivery, we kindly ask you to contact our sales-department.
					</div>
				</div>
			</div>
		</div>
<!-- @include _footer -->