<!-- @include _header -->
<!-- $title About -->
<!-- $pageBlurb Though our office is located in the Netherlands, our reach is global. Our multiple partners all over the world guarantee that no matter where you are, professional service is always near. -->
<!-- $headerImage headerPhoto_company.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _company_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Contact</h2>
					<!--
					<div id="sideBar">
						<ul>

						</ul>
					</div>
				-->
					<div id="pageContent">
						<h3>Sales</h3>
						Mr. B. Lamme<br>
						Telephone: +31 10 487 1472<br>
						E-mail: <a href="mailto:bart.lamme@imtechmarine.com">bart.lamme@imtechmarine.com</a><br>
						<h3>Services</h3>
						Mr. J. v.d. Helm or Mr. E. Abma<br>
						Telephone: +31 10 428 3344<br>
						E-mail: <a href="mailto:services@imtechmarine.com">services@imtechmarine.com</a>
						<h3>Imtech Marine</h3>
						Imtech Marine BV<br>
						Sluisjesdijk 155<br>
						P.O. Box 5054<br>
						Website: <a href="http://www.imtech.com/marine" target="\_blank">www.imtech.com/marine</a><br>
						E-mail: <a href="mailto:comms@imtechmarine.com">comms@imtechmarine.com</a><br>
						3008 AB Rotterdam<br>
						Telephone: +31 10 487 1911<br>
						Fax: +31 10 487 1702
					</div>
				</div>
			</div>
		</div>
<!-- @include _footer -->