
		<!-- @include _header -->
		<!-- $title About -->
		<!-- $pageBlurb Though our office is located in the Netherlands, our reach is global. Our multiple partners all over the world guarantee that no matter where you are, professional service is always near. -->
		<!-- $headerImage headerPhoto_company.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include _company_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Network</h2>
					<!--
					<div id="sideBar">
						<ul>

						</ul>
					</div>
				-->
					<div id="pageContent">
						Imtech Marine has a global network of importers and dealers with extensive knowledge of FT NavVision, so wherever you are, you are sure to be near people who can inform you about FT NavVision.
						Also, since our company is part of the Imtech Marine Group, our partners in this group are also able to provide you with assistance. Both Imtech and Radio Holland have a worldwide network of their own.


						<h3>Netherlands</h3>
							<a href="http://www.imtech.com/marine" target="\_blank">Imtech Marine</a><br>
							<a href="mailto:info@berghuismaritiem.nl">Berghuis Maritiem (email only)</a>

						<h3>Dubai</h3>
							<a href="http://www.imtech.com/marine" target="\_blank">Imtech Middle East</a>

						<h3>China</h3>
							<a href="http://www.imtech.com/marine">Imtech Marine China</a><br>

						<h3>France</h3>
							<a href="http://www.imtech.com/marine" target="\_blank">Imtech Marine &amp; Offshore SAS</a><br>
							<a href="http://www.pochon.com" target="\_blank">Pochon S.A.</a><br>
							<a href="http://www.pochonpro.com" target="\_blank">Pochon Pro</a><br>
							<a href="http://www.ata-innovation.com" target="\_blank">ATA Innovation</a>

						<h3>Germany</h3>
							<a href="http:/www.imtech.eu/marine/germany" target="\_blank">Imtech Germany</a>

						<h3>Great Britain</h3>
							<a href="http://www.energy-solutions.co.uk" target="\_blank">Energy Solutions</a><br>
							<a href="http://www.ses-marine.com" target="\_blank">SES Marine</a>

						<h3>Greece</h3>
							<a href="http://www.bmtech.gr" target="\_blank">BMTech</a>

						<h3>Hong Kong</h3>
							<a href="http://www.imtech.com/marine">Imtech Marine China</a><br>

						<h3>New Zealand</h3>
							<a href="http://www.navstation.co.nz" target="\_blank">NavStation</a><br>

						<h3>Norway</h3>
							<a href="http://www.imtech.com/marine">Imtech Marine Norway</a><br>

						<h3>Singapore</h3>
							<a href="http://www.imtech.com/marine">Imtech Marine Singapore</a><br>
							<a href="http://www.oceantek.com.sg" target="\_blank">Oceantek</a><br>

						<h3>South Africa</h3>
							<a href="http://www.imtech.com/marine">Imtech South Africa</a><br>

						<h3>Spain</h3>
							<a href="http://www.medenisa.com" target="\_blank">Medenisa</a><br>
							<a href="http://www.ibsmarine-electric.com" target="\_blank">IBS Marine Electric</a>

						<h3>Taiwan</h3>
							<a href="mailto:sparky.tw@msa.hinet.net">SPK Marine Electric (email only)</a>

						<h3>Turkey</h3>
							<a href="http://www.ecrmarine.com" target="\_blank">ECR Marine</a>

						<h3>United States of America</h3>
							<a href="http://www.imtech.com/marine" target="\_blank">TESS</a><br>
							<a href="http://www.rigstat.com" target="\_blank">RigStat</a><br>
							<a href="http://www.vesselmonitoring.com" target="\_blank">Youney</a><br>
							<a href="http://www.ftnav.com" target="\_blank">ATM</a>
					</div>
				</div>
			</div>
		</div>
<!-- @include _footer -->