<div class="column" id="subNavColumn">
	<img class="pageIcon" src="../img/amcs.png">
	<ul id="subNav">
		<li>
			<a href="<!-- @path products/leisureline -->"><img src="<!-- @path 32px/leisure.png -->">Leisure Line</a>
		</li>
		<li>
			<a href="<!-- @path products/amcs -->"><img src="<!-- @path 32px/amcs.png -->">AMCS</a>
		</li>
		<li>
			<a href="<!-- @path products/conning -->"><img src="<!-- @path 32px/conning.png -->">Conning</a>
		</li>
		<li>
			<a href="<!-- @path products/halo -->"><img src="<!-- @path 32px/halo.png -->">HALO</a>
		</li>
		<li>
			<a href="<!-- @path products/inland -->"><img src="<!-- @path 32px/inland.png -->">Inland</a>
		</li>
		<li>
			<a href="<!-- @path products/remotemonitoring -->"><img src="<!-- @path remote_monitoring_appicon.png  -->">ShipScout</a>
		</li>
	</ul>
</div>