		<!-- @include _header -->
		<!-- $title Products -->
		<!-- $pageBlurb FT NavVision can be deployed in various roles. Be it displaying data transmitted from various sensors, controlling your equipment or reliable alarm monitoring under all circumstances, FT NavVision can pull it off. -->
		<!-- $headerImage headerPhoto_products.jpg -->
		<div id="contentContainer">
			<div id="content">
			<!-- @include products_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">AMCS</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink "href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path FT_AMCS_Brochure.pdf -->">FT NavVision AMCS brochure</a></li>
							<br>
							<li><a class="downloadLink "href="<!-- @path markets/yachts -->">Market: Yachting</a></li>
							<li><a class="downloadLink "href="<!-- @path markets/inland -->">Market: Inland</a></li>
							<li><a class="downloadLink "href="<!-- @path markets/offshore -->">Market: Offshore</a></li>
							<li><a class="downloadLink "href="<!-- @path markets/specialvessels -->">Market: Special Vessels</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							Imtech’s new Alarm, Monitoring &amp; Control System is the automation solution for seagoing cargo vessels. The system was developed to provide our Customers a modular &amp; scalable AMCS including installation and service. To achieve this, Imtech Marine Germany cooperated with Imtech Marine and evolved the established FT NavVision system to meet the highest requirements.

							The combination of Imtech Marine Germany’s integration and customer knowledge with Imtech Marine’s software expertise and existing product line resulted in a modular, flexible and state-of-the-art AMCS which complies with the automation requirements for Unmanned Machinery Spaces.
							Imtech AMCS provides control, monitoring and safeguarding of all equipment such as engines, generators, pumps refrigeration and hydraulic systems.
						</p>
						<div class="figure" title="Propulsion mimic"><img class="contentImage" src="<!-- @path propulsion_mimic.png -->"></div>
						<div class="figure" title="Functions Imtech / FT NavVision AMCS">
							<ul>
								<li>Alarm handling/logging</li>
								<li>Standby pump control</li>
								<li>P&amp;ID control</li>
								<li>Automated Control Sequences</li>
								<li>Tank content measuring</li>
								<li>Duty engineer alarm</li>
								<li>Engineer calling</li>
								<li>Engine room personal alarm</li>
							</ul>
						</div>

						<h3>System Architecture</h3>
						<p>
							The Imtech AMCS infrastructure uses a failsafe redundant Local Area Network with a distributed database and redundant data server configuration. The AMCS server application is installed on each Operator Work Station (or OWS).
						</p>
						<div class="figure" title="HVAC mimic"><img class="contentImage" src="<!-- @path hvac_mimic.png -->"></div>
						<h3>Operator Work Stations</h3>
						<p>
							The operator Work Stations are fully solid state equipped and Windows Embedded based control &amp; monitoring stations, complete with keyboard, trackball or touchscreen. All OWS’s can perform various roles (server, client, alarm panel) and are able to automatically switch roles when needed, resulting in a high flexibility and availability of the system. The OWS’s are connected to the I/O substations via a redundant, failsafe LAN connection.
						</p>
						<div class="figure" title="Fuel mimic"><img class="contentImage" src="<!-- @path fuel_mimic.png -->"></div>

						<h3>I/O Substations</h3>
						<p>
							The I/O substations are used to connect the platform sensors, actuators and serial connections to third party devices. A substation consists of a WAGO 750 Series PLC that is extendable up to 1.000 I/O ports per substation. As a result, Imtech AMCS is able to read out and control more than 10.000 measuring points.
						</p>




						<div class="figure" title="Features Imtech / FT NavVision AMCS">
							<ul>
								<li>GL Certified FT NavVision based alarm, monitoring &amp; control system</li>
								<li>Modular &amp; flexible design</li>
								<li>Type-approved Commercial Off The Shelf (COTS) components</li>
								<li>Windows Embedded system with redundant Ethernet topology</li>
								<li>Ruggedised PC workstations with solid state disk</li>
								<li>Monitor sizes available from 17” to 21”</li>
								<li>Graphic Duty Alarm Panels</li>
								<li>Integrated engineering calling / personal alarm system</li>
								<li>Intuitive menu navigation and free design of user defined mimics</li>
								<li>More than 10.000 controllable measuring points</li>
								<li>I/O substations WAGO 750-Series, expandable up to 1.000 I/O ports per substation</li>
								<li>Wordwide availability of spare parts</li>
								<li>Easy replacement of spare parts without external service engineer</li>
							</ul>
						</div>


					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->