		<!-- @include _header -->
		<!-- $title Products -->
		<!-- $pageBlurb FT NavVision can be deployed in various roles. Be it displaying data transmitted from various sensors, controlling your equipment or reliable alarm monitoring under all circumstances, FT NavVision can pull it off. -->
		<!-- $headerImage headerPhoto_conning.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include products_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Conning</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink" href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<br>
							<li><a class="downloadLink" href="<!-- @path markets/yachts -->">Market: Yachting</a></li>
							<li><a class="downloadLink" href="<!-- @path markets/inland -->">Market: Inland</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
						The FT NavVision DP system combines the unprecedented graphical capabilities of FT NavVision with the field-proven control algorithms of the Imtech world-wide applied DP systems.
						The FT NavVision DP system —being DP0 certified— is an extreme reliable and versatile ship control system for yachts, workboats, patrol boats, windfarm vessels and other boats operating in safety critical situations. The FT NavVision DP system is based on touch screen operation, providing direct access to all system functions and limiting the number of buttons, switches and meters on the control panels.
						The FT NavVision DP system interfaces with Gyro Compass, DGPS and GPS compass for accurate real-time positioning of the vessel.
						</p>
						<div class="figure" title="Customized conning mimic"><img class="contentImage" src="<!-- @path icon_conning.png -->"></div>

						<h3>Intuitive operation</h3>
						<p>
						The FT NavVision DP system processes and presents the position data in a clear, unambiguous and self explanatory graphic user interface. The high quality marine touch screen combined with the graphic user interface, results in an intuitive operated control system. The marine-grade equipment guarantees a reliable and trouble-free operation. The optional joystick can be used for additional user comfort.
						</p>
						<div class="figure" title="Dual Engine viewer"><img class="contentImage" src="<!-- @path dualengine_viewer.png -->"></div>

						<h3>Position hold</h3>
						<p>
						Selecting the position keeping mode (“position hold”) will maintain the ship on the present position. The FT NavVision DP system controls the propellers and thrusters to keep the ship on the required position. The hold-position can be moved by a simple drag-and-drop control.
						The FT NavVision DP system is designed to minimize fuel consumption and wear and tear on the propulsion equipment. The position hold mode is used for automatic vessel positioning on open sea, for dock maneuvers, holding position at windmills, etcetera. The Adaptive Control Algorithms will guarantee optimal DP performance under changing circumstances.
						</p>
						<div class="figure" title="Features Dynamic Positioning">
							<img class="contentImage" src="<!-- @path FT-DP.png -->">
							<ul>
								<li>Large 19”operator panel with touch control</li>
								<li>Intuitive Graphical User interface</li>
								<li>Adaptive Control Algorithms</li>
								<li>Redundant network architecture</li>
								<li>Redundant navigation sensor interface</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->
