		<!-- @include _header -->
		<!-- $title Products -->
		<!-- $pageBlurb FT NavVision can be deployed in various roles. Be it displaying data transmitted from various sensors, controlling your equipment or reliable alarm monitoring under all circumstances, FT NavVision can pull it off. -->
		<!-- $headerImage headerPhoto_halo.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include products_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">HALO</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink "href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink "href="<!-- @path HALO_Leaflet.pdf -->">HALO leaflet</a></li>
							<br>
							<li><a class="downloadLink "href="<!-- @path markets/offshore -->">Market: Offshore</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							Civil &amp; Military helicopters are required to operate in hostile environments. The HALO system is designed to improve flight and passenger safety in these conditions by providing real-time monitoring of helideck motion and weather conditions. The HALO system is fully compliant with the prevailing recommendations issued by the Civil Aviation Authority in the UK (CAP437) and Norway (BSL D 5-1).
						</p>
						<div class="figure" title="HALO User Interface"><img class="contentImage" src="<!-- @path helideckcap437.png -->"></div>
						<p>
							The HALO system interfaces a motion sensor, weather instruments, GPS and gyro compass to provide real time monitoring of helideck motions and weather conditions. The HALO system is developed to provide full information concerning the offshore helideck movements, weather data and vessel position to the bridge. All data is processed in the integrated software and are displayed in an easy-to-read graphical interface.
							The HALO system processes and presents helideck motion data in a clear, easy to read graphic user interface. An automatic generation of a helideck report that can be sent by e-mail to the helicopter operator is included. This helideck report includes vessel information, motion data, meteorological data and logistic information vital for helicopter operations.
						</p>
						<div class="figure" title="Features FT NavVision HALO">
							<ul>
								<li>Real time helideck motion and weather information</li>
								<li>Intuitive graphical display</li>
								<li>Logging of parameters</li>
								<li>E-mail support</li>
								<li>Compliant with CAP437 motion data presentation</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->

