		<!-- @include _header -->
		<!-- $title FT Products -->
		<!-- $pageBlurb FT NavVision can be deployed in various roles. Be it displaying data transmitted from various sensors, controlling your equipment or reliable alarm monitoring under all circumstances, FT NavVision can pull it off. -->
		<!-- $headerImage headerPhoto_inland.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include products_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Inland</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink" href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink" href="<!-- @path FT_AMCS_Brochure.pdf -->">FT NavVision AMCS brochure</a></li>
							<br>
							<li><a class="downloadLink "href="<!-- @path markets/inland -->">Market: Inland</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							The FT NavVision Inland system provides the operator of any inland ship, with an optimal overview of the status of the vessel. The navigation display showing all important Navigation data (including turn indication), provides the captain with the optimal overview for safe manoeuvring. By indicating the draft of the vessel and the position of spud poles, the operator is always fully aware of the operational situation of the vessel.
						</p>
						<p>
							Extending the system with IO units for all technical installations onboard, provides the end-user with an integrated Navigation and Alarm, Monitoring and Control System in full control of the vessel. Also for inland ships, state-of-the-art intuitive control is possible.
						</p>
						<div class="figure" title="Inland viewer"><img class="contentImage" src="<!-- @path inland_viewer.png -->"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->
