		<!-- @include _header -->
		<!-- $title Products -->
		<!-- $pageBlurb FT NavVision can be deployed in various roles. Be it displaying data transmitted from various sensors, controlling your equipment or reliable alarm monitoring under all circumstances, FT NavVision can pull it off. -->
		<!-- $headerImage headerPhoto_leisureline.jpg -->
		<div id="contentContainer">
			<div id="content">
				<!-- @include products_subnav -->
				<div id="contentColumn">
					<h2 id="subPageTitle">Leisure Line</h2>
					<div id="sideBar">
						<ul>
							<li><a class="downloadLink" href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
							<li><a class="downloadLink" href="<!-- @path FT_LeisureLine_small.pdf -->">Leisure Line brochure</a></li>
							<li><a class="downloadLink" href="<!-- @path DP_leaflet_yachts.pdf -->">DP leaflet</a></li>
							<br>
							<li><a class="downloadLink" href="<!-- @path markets/leisure -->">Market: Leisure</a></li>
						</ul>
					</div>
					<div id="pageContent">
						<p>
							The latest computer technology and state-of-the-art super yacht technology applied in a multifunctional navigation and monitoring system for the leisure market: that’s the <em>FT NavVision Leisure Line</em>.
							The FT NavVision Leisure system combines the most modern visualization techniques, bright TFT displays, the latest network technology and first class sensors into a complete multifunctional navigation and monitoring suite.<br>
							FT NavVision is designed with the human operator in mind, offering a logical overview of vessel management functions. This, together with physical integration of modern hardware components and equipment, makes the system a logical solution that is easy to use.
						</p>
						<div class="figure" title="Autopilot">
							<img class="contentImage" src="../img/content/FT-AP.png">
						</div>
						<div class="figure" title="Features FT NavVision Leisure Line">
							<ul>
								<li>Multifunctional Navigation and Monitoring System</li>
								<li>Navigation, Radar, Chart Plotter, Alarm and Monitoring</li>
								<li>Scalable solution for both small boats and big yachts</li>
								<li>Solid State / Fanless Components</li>
								<li>Unique Graphical User Interface</li>
								<li>Remote Access Server for technical support</li>
							</ul>
						</div>
						<div class="figure" title="Dynamic Positioning"><img class="contentImage" src="<!-- @path FT-DP.png -->"></div>

					</div>
				</div>
			</div>
		</div>
		<!-- @include _footer -->
