<!-- @include _header -->
<!-- $title Products -->
<!-- $pageBlurb FT NavVision can be deployed in various roles. Be it displaying data transmitted from various sensors, controlling your equipment or reliable alarm monitoring under all circumstances, FT NavVision can pull it off. -->
<!-- $headerImage headerPhoto_products.jpg -->
<div id="contentContainer">
	<div id="content">
	<!-- @include products_subnav -->
		<div id="contentColumn">
			<h2 id="subPageTitle">ShipScout Remote Monitoring</h2>
			<div id="sideBar">
				<ul>
					<li><a class="downloadLink "href="<!-- @path FT_generic_brochure.pdf -->">FT NavVision brochure</a></li>
					<li><a class="downloadLink" href="<!-- @path FT_AMCS_Brochure.pdf -->">FT NavVision AMCS brochure</a></li>
					<br>
					<li><a class="downloadLink "href="<!-- @path markets/inland -->">Market: Inland</a></li>
					<li><a class="downloadLink "href="<!-- @path markets/offshore -->">Market: Offshore</a></li>
					<li><a class="downloadLink "href="<!-- @path markets/specialvessels -->">Market: Special Vessels</a></li>
				</ul>
			</div>
			<div id="pageContent">
				<p>
					Imtech ShipScout has been developed in response to a growing need. Shipping companies are becoming increasingly environmentally conscious, meaning they wish to burn as little fuel as possible. Unfortunately, reviewing fuel and oil usage has always been an after-the-fact activity. With Imtech ShipScout, the shore office is able to remotely review the vessel's fuel consumption and route as it happens.<br>
					ShipScout features a User Interface designed from scratch. It is the result of 6 months of usability research, eliminating all assumptions and distractions. The result is a design that puts the relevant data front and center, as clear and unambiguous as can be.
				</p>
				<div class="figure" title="Lube Oil Monitoring"><img class="contentImage" style="border-bottom: 2px solid rgba(0,81,158,1);" src="<!-- @path lubeoil.png -->"></div>
				
				<h3>Access everywhere.</h3>
				<p>Imtech ShipScout is developed with the latest web technologies. Being a so-called web app, using ShipScout requires zero installation effort. Using any modern web browser, the shore office can simply log in to the web app and instantly review any ship in the fleet. Even on the go, ShipScout can be consulted. The web app has been optimised for any modern tablet or smartphone, while keeping its unique design and usability consistent across all platforms.</p>
				<div class="figure" style="box-shadow: none;"><img class="contentImage" src="<!-- @path devicecollage.jpg -->"></div>
				<!--<div class="figure" title="Tracking the ship's route"><img class="contentImage" style="border-bottom: 2px solid rgba(0,81,158,1);" src="<!-- @path map.png -->"></div>-->
				
				<h3>Trending</h3>
				<p>
					Every single data source is logged realtime and stored securely on Imtech servers. The ShipScout web app is able to display a trending graph for each data source at a single click or tap. Needless to say, ShipScout is perfectly able to combine multiple data sources in a single graph in order to spot common traits or irregularities.
				</p>
				<div class="figure" title="Lube Oil, detailed trend graph"><img class="contentImage" style="border-bottom: 2px solid rgba(0,81,158,1);" src="<!-- @path lubeoil_graph.png -->"></div>

			</div>
		</div>
	</div>
</div>
<!-- @include _footer -->